.categories.row
    +categoryItem("./public/images/banner-01.jpg","Woman","Spring","SHOP NOW")
    +categoryItem("./public/images/banner-02.jpg","Woman","Spring","SHOP NOW")
    +categoryItem("./public/images/banner-03.jpg","Woman","Spring","SHOP NOW")
    
    
