
.container
    .product-content
        .title-product-overview PRODUCT OVERVIEW
    .product-filter
        .product-filter-text 
            button.filter-content.actived(id="all") All product
            button.filter-content(id="woman") Woman 
            button.filter-content(id="men") Men 
            button.filter-content(id="bag") Bag
            button.filter-content(id="watch") Watches
            button.filter-content(id="shoes") Shoes
        .product-filter-btn
            .search  
                .product-search-text Search
                .filter-click
            .filter
                .product-filter-text Filter
                .filter-click
    .product-filter-btn-display 
        input(type="text" placeholder="Search" class="input-search")
        .list-filter.d-none.row 
            +filterItem("Sort By","Default","Populary","Rating","Newness","Price: Low to High","Price: High to low")
            +filterItem("Price","All","$0.00 - $50.00","$50.00 - $100.00","$100.00 - $150.00","$150.00 - $200.00","$200.00+")             
            +filterItem("Color","Red","Blue","Black","Green","Gray","White","circle")
            .title-filter.col-md-3 Tag
                p#textfilter
                    a(href="#" class="tag") Fashion 
                    a(href="#" class="tag") Lifestyle
                    a(href="#" class="tag") Denim
                    a(href="#" class="tag") StreetStyle
                    a(href="#" class="tag") Crafts  
    include product    
    .product-btn-last
        a(href="shop.html")  LOAD MORE    
    include ./productshow            
                       
             
