.products
    +productItem("./public/images/product-01.jpg","Esprit Ruffle Shirt","$16.64","woman")
    +productItem("./public/images/product-02.jpg","Herschel supply","$16.64","woman")
    +productItem("./public/images/product-03.jpg","Only Check Trouser","$16.64","men")
    +productItem("./public/images/product-04.jpg","Classic Trench Coat","$75.00","woman")
    +productItem("./public/images/product-05.jpg","Front Pocket Jumper","$34.75","woman")
    +productItem("./public/images/product-06.jpg","Vintage Inspired Classic","$93.20","watch")
    +productItem("./public/images/product-07.jpg","Shirt in Stectch Cotton","$52.66","woman")
    +productItem("./public/images/product-08.jpg","Pieces Metallic Printed","$18.96","woman")
    +productItem("./public/images/product-09.jpg","Converse All Star Hi Plimsolls","$75.00","shoes")
    +productItem("./public/images/product-10.jpg","Femme T-Shirt In Stripe","$25.64","woman")
    +productItem("./public/images/product-11.jpg","Herschel supply","$663.16","men")
    +productItem("./public/images/product-12.jpg","Herschel supply","$63.15","men")
    +productItem("./public/images/product-13.jpg","T-Shirt with Sleeve","$18.49","woman")
    +productItem("./public/images/product-14.jpg","Pretty Little Thing","$54.79","woman")
    +productItem("./public/images/product-15.jpg","Mini Silver Mesh Watch","$86.85","watch")
    +productItem("./public/images/product-16.jpg","Square Neck Back","$29.64","woman")