.product-relative.container
    .title-product-overview PRODUCT RELATIVE
    .product-relatives
        +productItem("./public/images/product-01.jpg","Esprit Ruffle Shirt","$16.64","woman")
        +productItem("./public/images/product-02.jpg","Herschel supply","$16.64","woman")
        +productItem("./public/images/product-03.jpg","Only Check Trouser","$16.64","men")
        +productItem("./public/images/product-04.jpg","Classic Trench Coat","$75.00","woman")
        +productItem("./public/images/product-05.jpg","Front Pocket Jumper","$34.75","woman")
        +productItem("./public/images/product-06.jpg","Vintage Inspired Classic","$93.20","watch")
        +productItem("./public/images/product-07.jpg","Shirt in Stectch Cotton","$52.66","woman")
        +productItem("./public/images/product-08.jpg","Pieces Metallic Printed","$18.96","woman")
.product-detail  
        include ./productshow 