include mixins
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="./public/css/bootstrap.min.css")
        link(rel="stylesheet" href="./public/css/style.css")
        link(rel="stylesheet" href="./public/css/filter.css")
        link(rel="stylesheet" href="./public/css/show.css")
        include ./pug/head
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-STLgXNz4T8hJ5i7sZfHJxllO9g8bOy9zQmrdGN4QIsV5e8pDkLsFp5p9J/y5B8pE" crossorigin="anonymous")
    body 
        include ./pug/header
        .content.container
            include ./pug/shop/filter
        include ./pug/control
        include ./pug/footer
    script(src="./public/js/app.js")   
    script(src="./public/js/slide.js") 
    