.slides
    a(class="btn-prev" href="#") 
    .slide.active
        +bannerItem("Men Collection 21111","NEW ARRIVALS","slide-1","active")
    .slide
        +bannerItem("Men Collection 211","NEW ARRIVALS","slide-2")
    .slide
        +bannerItem("Men Collection 211","NEW ARRIVALS","slide-3")
    a(class="btn-next" href="#")  
