.categories.row
    +categoryItem("./public/images/banner-01.jpg","Women","Spring","SHOP NOW")
    +categoryItem("./public/images/banner-02.jpg","Men","Spring","SHOP NOW")
    +categoryItem("./public/images/banner-03.jpg","Accessories","New Trend","SHOP NOW")
    
    
