
.productshow.row 
    .product-image-detail.col-md-1   
        a(href="#")
            .productshow-img
                img(class="img-select" width="100%" src="./public/images/product-detail-01.jpg" alt="")
        a(href="#")
            .productshow-img
                img(class="img-select" width="100%" src="./public/images/product-detail-02.jpg" alt="")
        a(href="#")
            .productshow-img
                img(class="img-select" width="100%" src="./public/images/product-detail-03.jpg" alt="")
    .product-image-main.col-md-6
        img(class="img-main" width="100%" src="./public/images/product-detail-01.jpg" alt="")
    .productshow-content.col-md-5
        br
        h3.productshow-name  Lightweight Jacket
        p
        h4.productshow-price $58.79
        p
        .productshow-decs Nulla eget sem vitae eros pharetra viverra. Nam vitae luctus ligula. Mauris consequat ornare feugiat.
        br
        .productshow-addcart
            .productshow-select
                span Size
                select(name="size" id="size") 
                    option(value="#") Choose an option
                    option(value="Size S") Size S
                    option(value="Size M") Size M
                    option(value="Size L") Size L
                    option(value="Size XL") Size XL
            p
            .productshow-select
                span Color
                select(name="color" id="color") 
                    option(value="#") Choose an option
                    option(value="Red") Red
                    option(value="Blue") Blue
                    option(value="Grey") Grey 
                    option(value="White") White
            br
            .soLuong
                .wrapper
                    span.minus -
                    span.num 01
                    span.plus +
            br
            .btnDetail
                .btn.productshow
                    a(href="#" class="all-btn").text-decoration-none  ADD TO CART 
    





