.container
    .row
        .col-md-8
            .container
                //- banner left
                include banner_left
        .col-md-4
            .container
                //- banner right  
                include banner_right
include control

