#myBtn.btn-top.position-fixed.bottom-0
    .top.text-white.fw-bold.fs-3.text-center
        i.zmdi.zmdi-chevron-up

// Modal search
#exampleModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        form.d-flex(role='search')
            input.form-control.me-2(type='search' name='search' placeholder='Search' aria-label='Search')
            button.btn.btn-outline-success(type='submit') Search

// offcanvas 
#offcanvasExample.offcanvas.offcanvas-end.px-4.py-4(tabindex='-1' aria-labelledby='offcanvasExampleLabel' style='z-index: 1100')
  .offcanvas-header.mt-3
    h5#offcanvasExampleLabel.offcanvas-title.fw-bold YOUR CART
    button.btn-close(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
  .offcanvas-body
    div
      include shoping-cart